---
title: "Тайный покупатель"
layout: "client"
url: "/our-services/mystery-shopping/"
urls: ["/our-services/mystery-shopping.html","/our-services/mystery-shopping"]
headText:
    title: "Тайный покупатель"
    text: "Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее — источник и размер дополнительного дохода теперь зависит только от вас. Наши преимущества — ваша выгода."
isItemMenu: true
menuSort: 1
menuItems: ["Автосалоны", "Аптеки", "Банки / финансовые учереждения", "Государственные учреждения", "Кафе / рестораны", "Магазины одежды", "Магазины техники", "Медицинское обслуживание", "Салоны красоты", "Сети АЗС", "Страховые компании", "Супермаркеты, магазины", "Сфера услуг", "Услуги почты"]
btnSuccess: "Заказать исследование"
btnText: "Посмотреть примеры исследований"
---
<h2>Тайный покупатель(mystery shopping)</h2>

<p>Тайный Покупатель - это специально подготовленный сотрудник компании MS, который проводит проверку непосредственно с розничной точки от лица потенциальных/реальных клиентов и подробно докладывает о результатах проверки. Полученная информация может использоваться для разработки методов улучшения сервиса и для материальной мотивации персонала, благодаря привязке уровня вознаграждения к уровню выполнения стандартов обслуживания.</p>

<p>Контрольная закупка — это мнимая сделка купли-продажи между организацией и физическим лицом с целью проверки соблюдения правил и качества предоставляемого сервиса.</p>
