---
title: "Тайный соискатель"
titleCategory: "Тайный соискатель"
layout: "client"
url: "/our-services/mystery-applicant/"
urls: ["/our-services/mystery-applicant.html","/our-services/mystery-applicant"]
headText:
    title: "Тайный соискатель"
    text: "Хотите быть лидером на рынке своих услуг? Как получить информацию о преимуществах и недостатках своих конкурентов? Это не шпионаж, это маркетинговое исследование."
isItemMenu: true
menuSort: 2
menuItems: ["HR-отдел", "Проверка конкурентов"]
btnSuccess: "Заказать исследование"
btnText: "Посмотреть примеры исследований"
---
<h2>Методы оценки эффективности персонала с помощью тайного соискателя</h2>

<p>Главная задача Тайных соискателей – это разработка системы оценок персонала, которая позволяет изучить степень подготовленности работника и определить уровень его возможностей. Тайный соискатель наблюдает и докладывает о поведении, отношении и выполнении трудовой этики, описывает проблемные места, характерные для вашей компании.</p>

<p>Хотите оценить качество работы ваших HR-менеджеров? Почему они подолгу ищут новых сотрудников или какова причина увольнений после окончания испытательного срока? Заказав услугу "Тайный соискатель" вы узнаете, на каком именно этапе происходит сбой и как его исправить. </p>
