---
title: "Цель и миссия"
descr: "Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее — источник и размер дополнительного дохода теперь зависит только от вас. Наши преимущества — ваша выгода."
layout: "shopper"
url: "/mission/"
urls: ["/mission.html","/mission"]
headText:
    title: "Цель и миссия"
    text: "Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее — источник и размер дополнительного дохода теперь зависит только от вас. Наши преимущества — ваша выгода"
isItemMenu: true
menuSort: 3
btnSuccess: "Попробовать сейчас!"
btnText: "регистрация через соцсети"
---
<div class="container content blank">
    <div class="row principles">

        <div class="col-sm-12 col-md-12 text">
            <h2>Миссия тайного покупателя</h2>

            <p>В современной повседневной жизни – человек не может не быть Покупателем, а любая покупка/услуга, так или иначе, сопровождается сервисом. Метод исследования сервиса</p>

            <em>«Тайный Покупатель» (Mystery Shopping) существует для оценки уровня и улучшения качества предоставляемого сервиса, что включает в себя сбор информации о конкретных случаях обслуживания в сервисных организациях. Мы приглашаем Вас стать Тайным Покупателем и улучшить качество предоставляемых услуг и товаров в Вашем городе и даже стране.</em>
            <h2>Проверка сотрудников контрольной закупкой</h2>

            <p>Работодателям довольно часто приходится сталкиваться с недобросовестной и некачественной работой своих сотрудников. В таких случаях, одним из наиболее распространённых способов проверки, который может помочь выявить факты обмана, является проверка сотрудников Контрольной закупкой. Это метод проверки, при котором Тайный Покупатель, осведомлённый, при каких обстоятельствах обычно происходит обман, приходит на точку и совершает покупку как обычный клиент.</p>
            <h2>Миссия тайного соискателя</h2>

            <p>Тайный соискатель — это специально обученный человек, который пытается устроиться на работу на самые востребованные должности (к примеру: менеджер, продавец, секретарь, администратор, ассистент и т.д.) и после подробно докладывает о том, какие требования к будущим работникам предъявляют ещё на этапе первого собеседования и что обещают взамен.</p>
            <h2>Миссия тайного звонящего</h2>

            <p>Тайный звонящий - это специально проинструктированный человек, который оценивает качество телефонных консультаций и уровень профессионализма операторов, контактируя с персоналом компании и, под видом обычного клиента, консультируется по продукту или осуществляет заказ. Он отмечает выполнение или невыполнение стандартов сервиса, его качество и профессионализм консультанта согласно целям исследования.</p>

            <p>После консультации заполняется анкета, по которой можно проводить полноценный анализ, как и при обычном визите Тайного Покупателя.</p>
            <h2>Бенчмаркинг (Анализ конкурентов)</h2>

            <p>Бенчмаркинг процесса обслуживания - это метод исследования, которое направлено на выяснение причин успешности конкурирующих компаний, с дальнейшим изучением, усовершенствованием и адаптацией методов работы. Он одновременно и в равной степени включает в себя два процесса: <em>оценивание и сопоставление</em>.</p>

            <h3>При проведении бенчмаркинга можно выделить следующие этапы:</h3>

            <ul>
                <li style="">Определение объекта</li>
                <li style="">Выбор партнёра</li>
                <li style="">Поиск информации</li>
                <li style="">Анализ</li>
                <li style="">Внедрение</li>
            </ul>
            <h2>Опросы</h2>

            <p>Это метод маркетингового исследования, который заключается в опросе на основе заранее разработанного опросного листа и бывает следующих видов:</p>

            <ul>
                <li style="">Уличный опрос</li>
                <li style="">Опрос на выходе из магазина</li>
                <li style="">Квартирный опрос</li>
            </ul>

            <p>К преимуществам этого метода можно отнести то, что он позволяет применять метод как квартирного, так и уличного опроса в любых доступных регионах и позволяет задать большее, по сравнению с телефонным опросом, количество вопросов, обеспечивая при этом возможность предоставить отвечающему визуальную информацию или тексты для чтения, что обеспечивает больший уровень понимания.</p>




            <div class="plugin_video">
                <object id="video-plugin-983" width="640" height="480" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" >
                    <param name="movie" value="/static/cms/swf/player.swf"/>
                    <param name="allowFullScreen" value="true" />
                    <param name="allowScriptAccess" value="always" />
                    <param name="allowFullScreen" value="true" />
                    <param name="quality" value="autohigh" />
                    <param name="wmode" value="opaque" />
                    <param name="bgcolor" value="#000000" />
                    <param name="flashvars" value="movie=https://www.youtube.com/watch?v=4EkX-qz_dSw&amp;autoplay=false&amp;loop=false&amp;autohide=false&amp;fullscreen=true&amp;color_text=0xFFFFFF&amp;color_seekbar=0x13ABEC&amp;color_loadingbar=0x828282&amp;color_seekbarbg=0x333333&amp;color_button_out=0x333333&amp;color_button_over=0x000000&amp;color_button_highlight=0xFFFFFF" />
                    <!--[if !IE]>-->
                    <object width="640" height="480" data="/static/cms/swf/player.swf" type="application/x-shockwave-flash">
                        <param name="allowFullScreen" value="true" />
                        <param name="allowScriptAccess" value="always" />
                        <param name="allowFullScreen" value="true" />
                        <param name="quality" value="autohigh" />
                        <param name="wmode" value="opaque" />
                        <param name="bgcolor" value="#000000" />
                        <param name="flashvars" value="movie=https://www.youtube.com/watch?v=4EkX-qz_dSw&amp;autoplay=false&amp;loop=false&amp;autohide=false&amp;fullscreen=true&amp;color_text=0xFFFFFF&amp;color_seekbar=0x13ABEC&amp;color_loadingbar=0x828282&amp;color_seekbarbg=0x333333&amp;color_button_out=0x333333&amp;color_button_over=0x000000&amp;color_button_highlight=0xFFFFFF" />
                        <!--<![endif]-->
                        <!-- alternate content -->
                        Missing flash plugin. Please download the latest Adobe Flash Player: <br />
                        <a href="https://www.adobe.com/go/getflashplayer">
                            <img alt="Get Adobe Flash Player" src="/static/cms/img/icons/plugins/get_flash_player.gif" />
                        </a>
                        <!-- /alternate content -->
                        <!--[if !IE]>-->
                    </object>
                    <!--<![endif]-->
                </object>
            </div>

        </div>

    </div>

</div>