---
title: "Наши контакты"
descr: "Mystery Shopping Platform contacts, тайные покупатели - наши контакты, контакты"
layout: "shopper"
url: "/nashi-kontakty/"
urls: ["/nashi-kontakty.html","/nashi-kontakty"]
headText: "<p>Наши контакты</p>"
btnSuccess: "Попробовать сейчас!"
btnText: "регистрация через соцсети"
---
<div class="container content text-center contacts">

    <h2>Связаться с нами:</h2>
    <ul class="pagination pagination-lg">
        <li class="" id="UA1"><a href="#UA" data-toggle="tab">Украина</a></li>
        <li id="USA1" ><a href="#USA"data-toggle="tab">США</a></li>
        <li id="RU1"><a href="#RU"  data-toggle="tab">Россия</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="UA">
            <p class="lead">+38 (050) 52 62 967</p>
            <p>г. Полтава, ул. М. Бирюзова, 51-Б</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">






                <div class="plugin_googlemap">
                    <h2>Тайные Покупатели MSP</h2>

                    <div id="google-map-1184" class="google-map-container"
                         style="width: 100%; height: 400px;"></div>


                </div>

            </div>
        </div>
        <div class="tab-pane" id="USA">

            <p>New-York</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">






                <div class="plugin_googlemap">
                    <h2>Тайные Покупатели MSP</h2>

                    <div id="google-map-1184" class="google-map-container"
                         style="width: 100%; height: 400px;"></div>


                </div>

            </div>
        </div>
        <div class="tab-pane" id="RU">

            <p>Москва</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">






                <div class="plugin_googlemap">
                    <h2>Тайные Покупатели MSP</h2>

                    <div id="google-map-1184" class="google-map-container"
                         style="width: 100%; height: 400px;"></div>


                </div>

            </div>
        </div>
    </div>



</div>