---
title: "Условия работы"
descr: "Mystery Shopping Platform, условия работы тайным покупателем"
layout: "shopper"
url: "/reward/"
urls: ["/reward.html","/reward"]
headText:
    title: "Условия работы"
    text: "Каждый день мы делаем много дел. Спим, работаем, едим, любим. </p><p>А что если работа будет приносить удовольствие и прибыль?"
isItemMenu: true
menuSort: 2
btnSuccess: "Попробовать сейчас!"
btnText: "регистрация через соцсети"
---
<div class="container content blank">
    <div class="row principles">

        <div class="col-sm-12 col-md-12 text">
            <h2 style="color: #999898 !important;">Весь путь от регистрации до снятия заработанных денег можно поделить на несколько этапов</h2><p>&nbsp;</p>

            <h3 title="#registration" class="anchor-wrapper"><a id="registration" href="#registration" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Регистрация</h3>

            <p>Для того что бы получить вакансии, вам нужно зарегистрироваться на нашем сайте. Для этого жмем кнопку "Попробовать сейчаc. Если в вашем аккаунте в соц. сети, с помощью которого вы собрались регистрироваться, указаны не достоверные данные, не расстраивайтесь, вы сможете исправить их, заполняя ваш профиль.</p>

            <h3 class="anchor-wrapper" title="#profile"><a id="profile" href="#profile" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Заполнение профиля</h3>

            <p>Следующим вашим действием должно быть <b>заполнить профиль</b>. Рекомендуем заполнить по возможности максимальное количество полей в профиле, так как от этого зависит количество и качество вакансий, которые будут вам доступны, а так же даст вам преимущество когда работодатель будет делать выбор кому из претендентов предоставить возможность выполнять задание, но необходимым минимумом для сохранения профиля является заполнение <b>основной информации</b> и вашего <b>местонахождения</b>.</p>

            <h3 title="#azbuka" class="anchor-wrapper"><a id="azbuka" href="#azbuka" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Прохождение Азбуки Тайного Покупателя</h3>

            <p>После того как вы заполните профиль, вам будет предложено пройти <b>Азбуку Тайного Покупателя</b>. Этот шаг заключается в том что вам нужно будет пройти краткий инструктаж, как нужно себя вести ТП в разных ситуациях, в которых он окажется выполняя задания, это не сложно и абсолютно бесплатно. Если у вас не получится пройти азбуку с первого раза, вы сможете "подучить материал" и пройти тест повторно, потому что без этого вам не стать тайным покупателем. Как только вы пройдете Азбуку Тайного Покупателя, о чем вам сообщит уведомление после отправки заполненной формы, вам станут доступными все функции личного кабинета ТП.</p>

            <h3 title="#vacancy" class="anchor-wrapper"><a id="vacancy" href="#vacancy" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Выбор вакансии</h3>

            <p>На главной странице вашего рабочего кабинета, вакансии делятся на три раздела:</p>

            <ol>
                <li>Текущие задания.</li>
                <li>Заявки на вакансии.</li>
                <li>Рекомендуемые вакансии.</li>
            </ol>

            <p><b style="line-height: 20.7999992370605px;">Текущие задания: </b><span style="line-height: 20.7999992370605px;">это те задания, на которые утвердили именно вас, их выполнение и есть ваша работа.</span></p>

            <p><strong>Заявки на вакансии: </strong>это список ваших заявок, поданных на выполнение вакансий.</p>

            <p><strong style="line-height: 20.7999992370605px;">Рекомендуемые вакансии</strong><span style="line-height: 20.7999992370605px;">: это те вакансии, которые наша система подобрала для вас автоматически, на основании вашего профиля.</span></p>

            <p>Но вам доступны не только те вакансии что находятся в разделе "Реккомендованные вакансии". Для просмотра более полного списка вакансий вам нужно перейти на страницу <a href="http://shopper.msp4.me/#!/vacancies">"Вакансии"</a>. Тут вы сможете указать некоторые параметры поиска вакансий. А именно, указать другую локацию, исключить некоторые типы заданий, сделать ограничение по расстоянию или по стоимости оплаты.</p>

            <p>Найдя нужную вакансию, вам нужно кликнуть на нее и вы увидите страницу краткой информации о вакансии. Тут вы сможете изучить вакансию ознакомиться с легендой, при необходимости пройти сертификацию. Так же вам доступна возможность влиять на стоимость оплаты. Вы можете согласиться на предложенную оплату, или предложить свой вариант, подав заявку указав сумму, на которую вы согласны. После нажатия на кнопку "Хочу выполнить задание за", вакансия будем перенесена в раздел "Заявки на вакансии", это значит что ваша заявка на рассмотрении, и ближайшим временем вы узнаете, получили это задание или нет.</p>

            <p>Когда вас утвердят, на ваш счет, в замороженном состоянии, будет перечислена сумму, которую вы получите после успешного выполнения задания.</p>

            <h3 title="#doing_vacancy" class="anchor-wrapper"><a id="doing_vacancy" href="#doing_vacancy" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Выполнение вакансии</h3>

            <p>Когда вас утвердят на вакансию, вы получите дополнительные материалы, анкету и инструкцию к ней. Внимательно изучите инструкцию, в ней подробно описано как вы должны себя вести и какие объязательные меры от вас требуются во время выполнения задания</p>

            <p>После выполнения задания, сразу же займитесь заполнением анкеты, так как через некоторое время вы рискуете забыть какие то подробности и поставить вашу миссию под угрозу провала. После отправки анкеты вы можете спокойно расслабиться, вы сделали все что от вас требовалось, теперь нужно подождать пока работодатель изучит вашу анкету, проверит, действительно ли вы все сделали что от вас требовалось. После подтверждения, деньги, что были в замороженом состоянии на вашем счету, будут разблокированны и переведены на ваш основной счет.</p>

            <h3 title="#withdraw" class="anchor-wrapper"><a id="#withdraw" href="#withdraw" class="anchor"><span class="glyphicon glyphicon-link"></span></a>Вывод денег с вашей учетной записи</h3>

            <p>Когда на вашем счету появлятся заработанные деньги, то ли это оплата за выполненную миссию, то ли это бонус, который вы заработали за приглашение друга, вы сможете в любой момент перевести их с вашей учетной записи. На ваш выбор, вы можете вывести деньги <strong>на пластиковую карту</strong>, на счет <strong>в ЯндексДеньги</strong> или <strong>на счет</strong> <strong>вашего мобильного телефона</strong>. Никаких задержек, потому что все что вы заработали - принадлежит вам.</p>

        </div>

    </div>

</div>
