---
layout: "layout"
---
<div class="container shopper">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7">
            <h1>{{document.headText.title }}</h1>

            <p>{{{document.headText.text }}}</p>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 order-img">
            <img src="/media/img/mystery/blog_header.png" class="img-responsive" alt="">
        </div>

    </div>
</div>


<div class="type">
    <div class="container">
        <div id="articl" class="row">

            {{#each clientMenu}}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <a href="{{this.url}}"
                   class="{{ isActive ../document.id "largeMenu"}}">
                    <img src="/media/img/top-submenu/our-services{{this.basename}}_l.gif"
                         alt="{{getTitle}}" title="{{getTitle}}" width="72"
                         height="65" class="img-responsive">

                    <p {{ isActive ../document.id "largeMenuText"}}>{{ getTitle }}</p></a></div>
            {{/each}}

        </div>
    </div>
</div>
<div class="shopper-page">
    <div class="container book_research">
        <div class="row becomeTP">
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
                <div class="btn-wrap">
                    <a class="btn btn-lg btn-success" href="#" role="button" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); return false;">{{document.btnSuccess}}</a>
                </div>
            </div>
            <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-7">

                <a class="btn-text" href="#" role="button"><h2>{{document.btnText}}</h2></a>
            </div>
        </div>

        <div class="container content">
            <div class="row">
                <div class="col-sm-9">
                    {{{ content }}}
                </div>
                <div class="col-sm-3">
                    <div style="margin-top: 0px;" class="right-sidebar services"><h3>Наши услуги</h3>

                        {{#each clientSubMenu}}
                        <div class="right-sidebar-item {{ isActive ../document.id "subMenuText"}}">
                            <a href="{{this.url}}">
                                <img src="/media/img/submenu/our-services{{this.basename}}.png" alt="{{getTitle}}" title="{{getTitle}}" width="18" height="18">
                                {{getTitle}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>