---
layout: "layout"
---
<div class="container">
    <div class="row shopper-page">
        <div class="row benefits" itemscope="Thing">
            <div id="headText" class="col-xs-8 col-sm-8 col-md-9">
                <h1>{{document.text.shopper.headText.h1}}</h1>

                <p>{{{document.text.shopper.headText.text}}}</p>

            </div>
            <div class="benefits-picture col-xs-4 col-sm-4 col-md-3" id="headImg">


                <img itemprop="image" src="/media/design-a/img/leg_clean_02_part.png" alt="{{{document.text.shopper.headText.img.alt}}}" title="{{ document.headTextShopper.img.title }}"/>


            </div>
        </div>
    </div>
</div>


<div class="shopper-page">
    <div class="benefitsLinks text">
        <div class="container">
            <div class="row">
                {{#each document.text.shopper.benefitsLinksText}}
                <div class="col-xs-6 col-sm-6 col-md-6 ">
                    <h3 {{#if @first}}class="leftCol"{{/if}}>{{this.title}}</h3>

                    <ul>
                        {{#each this.items}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>

                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container becomeBlock">
    <div class="row becomeTP">
        <!--<div class="col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">-->
        <div class="col-xs-5">
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                    {{document.text.shopper.btnSuccess}}
                </a>
            </div>
        </div>
        <!--<div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">-->
        <div class="col-xs-6">
            <span class="action-subheader">
                {{ document.text.shopper.btnText }}
            </span>
        </div>
    </div>
</div>
<div class="shopper-page">
    <div class="container content">

        <div class="row principles">

            {{#each document.text.shopper.rowPrinciples}}
            <div class="col-xs-1 col-sm-1 col-md-1 {{#if @firts}}firstBlock{{else}}anotherBlocks{{/if}}">
                <span class="plugin_picture">
<img src="{{this.image.src}}" alt="{{this.image.alt}}"
     title="{{this.image.title}}"/>
</span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                <h3>{{this.title}}</h3>
                <p>{{this.text}}</p>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="benefitsLinks">
        <div class="smallMenu container">
            <div class="row">

            {{#each shopperMenu}}
                <div class="col-xs-3 col-sm-3 col-md-3 {{#if @first}}text-left{{else}}text-center{{/if}}">
                    <a href="{{ this.url }}"
                       class="sibling">
                        <img src="/media/img/menu/{{this.basename}}.gif"
                             alt="{{ getTitle }}" title="{{ getTitle }}" width="38"
                             height="39">

                        <span>{{ getTitle }}</span></a></div>
            {{/each}}
            </div>
        </div>
    </div>

    <div class="container order">
        <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/1/order.gif" alt="услуга тайный покупатель" />

</span>

            </div>
            <div class="col-xs-5 col-sm-5 col-md-5">
                <h1>{{ document.text.client.headText.h1}}</h1>


            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 order-img">
            <span class="plugin_picture">

<img src="http://msp4.blob.core.windows.net/website-media/cms_page_media/1/order_mg.gif" alt="{{ document.text.client.headText.img.alt }}" title="{{ document.text.client.headText.img.title }}" />

</span>

            </div>

        </div>
    </div> <!-- /container -->

    <div class="advantage">
        <div class="container">






            <div class="row advwrapper">
                <div class="row col-sm-6">

                    {{#each clientMenu}}
                                    {{#if @first}}
                                        <div class="row col-sm-3"><img src="/media/img/top-submenu/our-services{{this.basename}}_l.gif" alt="{{getTitle}}"
                                                                       width="75" height="68" class="img-responsive"></div>
                                        <div class="col-sm-9">
                                            <a href="{{this.url}}"><h3>{{getTitle}}</h3></a>
                                            <ul>
                                                {{#each this.menuItems}}
                                                    <li>{{this}}</li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    {{/if}}
                    {{/each}}

                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    {{#each clientMenu}}
                    {{#unless @first}}
                        <div class="row">
                            <div class="col-sm-3"><img
                                    src="/media/img/top-submenu/our-services{{this.basename}}_l.gif" alt="{{getTitle}}"
                                    width="75"
                                    height="68" class="img-responsive"></div>
                            <div class="col-sm-9">
                                <a href="{{this.url}}"><h3>{{getTitle}}</h3></a>
                                <ul>
                                    {{#each this.menuItems}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    {{/unless}}
                    {{/each}}
                </div>


            </div>
        </div>
    </div>

    <div class="container book_research">
        <div class="row becomeTP">
            <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
            <div class="col-xs-5">

                <div class="btn-wrap">
                    <a class="btn btn-lg btn-success" href="#" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); ga('send', 'event', 'button', 'click', 'order_research');
                return false;" role="button">{{ document.text.client.btnSuccess}}</a>
                </div>
            </div>
            <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
            <div class="col-xs-6">

                <!--<a class="btn-text" href="#" role="button">-->
                <span class="action-subheader" id="clients-action-btn">{{ document.text.client.btnText}}</span>

                <!--</a>-->
            </div>
        </div>
        <div class="row">


            {{#each document.text.client.rowPrinciples}}
                <div class="row principles {{#unless @first}}secondline{{/unless}}">
                    {{#each this}}
                        <div class="col-xs-1 col-sm-1 col-md-1 {{#if @firts}}firstBlock{{else}}anotherBlocks{{/if}}">
                <span class="plugin_picture">
<img src="{{this.image.src}}" alt="{{this.image.alt}}"
     title="{{this.image.title}}"/>
</span>
                        </div>
                        <div class="col-xs-3 col-sm-3 col-md-3">
                            <h3>{{this.title}}</h3>
                            <p>{{this.text}}</p>
                        </div>
                    {{/each}}
                </div>
            {{/each}}


        </div>
    </div>
</div>

<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                <h3>{{document.ourClients.text}}</h3>

            </div>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://medtest.com.ua"><img src="/media/img/mystery/medtest.png" class="img-responsive" alt="MedTest"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://cloud-europe.ru"><img src="/media/img/mystery/doud.png" class="img-responsive doud" alt="doud-europe"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://libertyads.me"><img src="/media/img/mystery/LibertyAds.png" class="img-responsive libertyImg" alt="LibertyAds"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://timedoctor.com.ua"><img src="/media/img/mystery/TimeDoctor.png" class="img-responsive" alt="TimeDoctor"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>