<!DOCTYPE html>
<html>
<head>
    <title>{{ document.title}}</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta charset="utf-8">
    <meta name="description" content="{{ document.descr }}"/>
    <meta name="keywords" content="{{ document.keywords }} " />

    <!-- OpenGraph -->
    <meta property="og:url" content="http://www.msp4.me">
    <meta property="og:description" content="{{ document.descr }}">
    <meta property="og:title" content="{{ document.title }}" />
    <meta property="og:image" content="/media/design-a/img/leg_euro_02_part.png"/>
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@msp4me" />
    <meta name="twitter:title" content="{{ document.title }}" />
    <meta name="twitter:description" content="{{ document.descr }}" />
    <meta name="twitter:image" content="/media/design-a/img/leg_euro_02_part.png" />
    <meta name="twitter:url" content="http://www.msp4.me" />

    <!-- Windows 8 -->
    <meta name="application-name" content="{{ document.title }}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-square70x70logo" content="/media/img/windows8/tiny.png"/>
    <meta name="msapplication-square150x150logo" content="/media/img/windows8/square.png"/>
    <meta name="msapplication-wide310x150logo" content="/media/img/windows8/wide.png"/>
    <meta name="msapplication-square310x310logo" content="/media/img/windows8/large.png"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="/media/design-a/img/favicon.ico"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

    <link href='//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <script type="text/javascript" src="/js/geo.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-54313302-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

<body>
<div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-10">
                <ul class="nav nav-pills">
                    <li><a href="/"><span>Mystery Shopping Platform <span class="beta">β</span></span></a></li>
                    <li><a class="active" href="/"><span>“Тайные покупатели”</span></a></li>
                </ul>
            </div>
            <div class="col-sm-2 col-md-2 ">
                <ul class="nav nav-pills pull-right">
                    <li><a href="" itemprop="url" id="signInLink" data-toggle="modal" data-target="#myModal">Войти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{{{ content }}}
<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                <h4 id="myModalLabel" class="modal-title">Войти через</h4>
            </div>
            <div class="modal-body text-center">
                <ul class="list-inline">
                    <li><a href="http://shopper.msp4.me/auth/facebook" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via facebook" src="/media/img/icons/facebook.png"/><br/>Facebook</a></li>
                    <li><a href="http://shopper.msp4.me/auth/google" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via google" src="/media/img/icons/google.png"/><br/>Google</a></li>
                    <li><a href="http://shopper.msp4.me/auth/mailru" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via mailru" src="/media/img/icons/mailru_128_sh.png"/><br/>Mail.ru</a></li>
                    <li><a href="http://shopper.msp4.me/auth/yandex" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via yandex" src="/media/img/icons/yandex_128.png"/><br/>Yandex</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-9 col-md-10">
                <p>Mystery Shopping Platform 2015  Copyright ©
                    <br> All rights reserved</p>
            </div>
            <div class="col-sm-2 col-xs-3 col-md-2">
                <p class="pull-right hidden"><select size="1">
                    <option value="English" disabled>English</option>
                    <option value="Ukrainian" disabled>Ukrainian</option>
                    <option selected value="Russian">Russian</option>
                </select></p>
                <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
    @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
    if (typeof(Zenbox) !== "undefined") {
        Zenbox.init({
            dropboxID:   "20289013",
            url:         "https://isells.zendesk.com",
            tabTooltip:  "Сервис",
            tabImageURL: "https://p1.zdassets.com/external/zenbox/images/tab_ru_service_right.png",
            tabColor:    "#e65b2a",
            tabPosition: "Right",
            hide_tab:    "true"
        });
    }
</script>
<!-- Start SiteHeart code -->
<script>
    (function () {
        var widget_id = 731819;
        _shcp = [
            {widget_id: widget_id}
        ];
        var lang = (navigator.language || navigator.systemLanguage
        || navigator.userLanguage || "en")
                .substr(0, 2).toLowerCase();
        var url = "widget.siteheart.com/widget/sh/" + widget_id + "/" + lang + "/widget.js";
        var hcc = document.createElement("script");
        hcc.type = "text/javascript";
        hcc.async = true;
        hcc.src = ("https:" == document.location.protocol ? "https" : "http")
                + "://" + url;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
</script>
<!-- End SiteHeart code -->
<!-- Livereload -->
{{{getBlock "scripts"}}}
<!-- /Livereload -->
</body>
</html>