---
layout: "layout"
---
<div class="container">
    <div class="row shopper-page">
        <div class="row benefits">
            <div id="headText" class="col-xs-8 col-sm-8 col-md-9">
                <h1>{{document.headText.title }}</h1>

                <p>{{{document.headText.text }}}</p>

            </div>
            <div class="benefits-picture col-xs-4 col-sm-4 col-md-3" id="headImg">


                <img src="/media/design-a/img/leg_clean_02_part.png" alt="foot"/>


            </div>
        </div>
    </div>
</div>


<div class="shopper-page">
    <div class="benefitsLinks">
        <div class="container">
            <div class="row">
                {{#each shopperMenu}}
                    <div class="col-xs-3 col-sm-3 col-md-2 {{#unless @first}}col-md-offset-1{{/unless}}">
                        <a href="{{ this.url }}"
                           class="{{ isActive ../document.id "largeMenu"}}">
                            <img src="/media/img/menu/{{this.basename}}.gif"
                                 alt="{{ getTitle }}" title="{{ getTitle }}" width="60"
                                 height="60">

                            <p>{{ getTitle }}</p></a></div>
                    {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="container becomeBlock">
    <div class="row becomeTP">
        <div class="col-sm-5 col-sm-offset-0 col-md-offset-0 col-md-5">
            <!--<div class="col-xs-6">-->
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                    {{ document.btnSuccess }}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">

            <span class="action-subheader">

                {{ document.btnText }}

            </span>
        </div>
    </div>
</div>
{{{ content }}}